.success {
    background-color: #2e8031;
    margin: 0;
    font-size: 14px;
    padding: 0.5rem 1rem;
    color: #f0f0ff;
    overflow: auto;
    white-space: pre-wrap;
}

.errored {
    background-color: #80802e;
    margin: 0;
    font-size: 14px;
    padding: 0.5rem 1rem;
    color: #f0f0ff;
    overflow: auto;
    white-space: pre-wrap;
}

.failed {
    background-color: #802e31;
    margin: 0;
    font-size: 14px;
    padding: 0.5rem 1rem;
    color: #f0f0ff;
    overflow: auto;
    white-space: pre-wrap;
}

.duration {
    background-color: #020e1a;
    padding: 0.5rem 1rem;
    color: #f0f0ff;
    font-style: italic;
}
