.navbar {
    padding: 0.75rem;
    background-color: #020e1a;
    display: flex;
}

.navbar > img {
    max-height: 2.5rem;
    display: inline-block;
}

.navbar > .content {
    padding: 0.75rem;
}
